h1 {
    text-align: center;
    background-color: #0082c3;
    margin: 0;
    padding: 20px;
    color: white;
}

.teams {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 45%;
}

.team {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    height: 100px;
}

.all-players .team {
    height: 293px;
}

.buttons {
    text-align: right;
}

.clear {
    margin-right: 5px;
}

.error {
    color: red;
    margin-left: 5px;
}

.icon-beginner {
    filter: invert(73%) sepia(54%) saturate(303%) hue-rotate(152deg) brightness(89%) contrast(93%);
}

.icon-expert {
    filter: invert(20%) sepia(74%) saturate(6262%) hue-rotate(2deg) brightness(89%) contrast(139%);
}

.player {
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.player-name {
    margin: 0;
}
