h1 {
    text-align: center;
}

.column {
    display: inline-block;
    width: 45%;
    padding: 10px;
}

.team {
    border: 1px solid;
    padding: 10px;
}

.buttons {
    text-align: right;
}

.clear {
    margin-right: 5px;
}

.error {
    color: red;
    margin-left: 5px;
}
