h1 {
    text-align: center;
    background-color: #0082c3;
    margin: 0;
    padding: 20px;
    color: white;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
}

.column {
    width: 45%;
}

.team-title {
    margin: 10px;
}

.team {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    min-height: 150px;
}

.all-players {
    margin-right: 20px;
}

.all-players .team {
    min-height: 325px;
}

.line-form {
    margin: 15px 10px;
}

.element-form {
     margin-left: 8px;
     padding: 8px;
     font-size: 16px;
}

.element-form[type=number] {
     width: 40px;
}

.buttons {
    text-align: right;
    margin-bottom: 30px;
}

.clear,
.generate {
    border: 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.clear {
    margin-right: 15px;
    background: #efefef;
}
.clear:hover {
    outline: 1px solid #afafaf;
}
.generate {
    background: #0082c3;
    color: #fff;
}
.generate:hover {
    background: #fff;
    color: #0082c3;
    outline: 1px solid #0082c3;
}
.generate:disabled {
    background: #afafaf;
    color: #fff;
    outline: none;
    cursor: not-allowed;
}

.error {
    color: red;
    margin-left: 5px;
}

.icon-beginner {
    filter: invert(73%) sepia(54%) saturate(303%) hue-rotate(152deg) brightness(89%) contrast(93%);
}

.icon-expert {
    filter: invert(20%) sepia(74%) saturate(6262%) hue-rotate(2deg) brightness(89%) contrast(139%);
}

.player {
    display: inline-block;
    text-align: center;
    margin: 5px;
    width: 65px;
}

.player-name {
    margin: 0;
}

.select {
    background-color: white;
}
